UNIT 1,
NAME- DOLLY DALAL,
PRN- 25070123044,
BATCH- ENTC A2

BASIC PROGRAMS - EXPERIMENT 1

In [8]:
#first python program/string
print("hello, welcome to python programming")

hello, welcome to python programming

In [2]:
a="hello"
print(a)

hello

In [5]:
#comments
#this is a comment.
print("hello, world!")

hello, world!

In [6]:
#many statements
print("hello world!")
print("have a good day")
print("learning python is fun!")

hello world!
have a good day
learning python is fun!

In [7]:
print("hello");print("how are you?");print("bye bye!")

hello
how are you?
bye bye!

In [9]:
#print numbers
a=3
print(a)
print(358)
print(500.200)

3
358
500.2

In [10]:
#variables
x=5
y="hello, world!"
print(x)
print(y)

5
hello, world!

In [11]:
#vase sensitive
a=4
A="sally"
print(a)
print(A)

4
sally

In [17]:
#MANY values to multiple variables
x,y,z="orange","banana","cherry"
print(x)
print(y)
print(z)

orange
banana
cherry

In [19]:
#basic arithmetic operations
a=10
b=5
print("addition=", a+b)
print("subtraction=", a-b)
print("multiplication=", a*b)
print("division=", a/b)

addition= 15
subtraction= 5
multiplication= 50
division= 2.0

In [22]:
#understanding data types
x=10
y=3.14
z="python"
A=True
c=3+2j
print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [25]:
#taking input from user
name=input("enter your name:")
age=int(input("enter your age:"))
print("your name is", name)
print("your age is", age)

enter your name:dolly dalal
enter your age:20
your name is dolly dalal
your age is 20

In [26]:
#problem statement 1: take marks of 5 subjects and find the sum and average
english=int(input("enter marks of english:"))
maths=int(input("enter marks of maths:"))
science=int(input("enter marks of science:"))
socialstudies=int(input("enter marks of social studies:"))
hindi=int(input("enter marks of hindi:"))
sum=english+maths+science+socialstudies+hindi
average=sum/5
print("sum=", sum)
print("average=", average)

enter marks of english:67
enter marks of maths:93
enter marks of science:78
enter marks of social studies:99
enter marks of hindi:100
sum= 437
average= 87.4

In [27]:
#problem statement 2: find the area of circle
radius=float(input("enter radius of circle:"))
area=3.14*radius*radius
print("area of circle=", area)

enter radius of circle:12
area of circle= 452.15999999999997

In [28]:
#problem statement 3: find the area of rectangle
length=float(input("enter the length of rectangle"))
width=float(input("enter the width of rectangle"))
area=length*width
print("area of rectangle=", area)

enter the length of rectangle12
enter the width of rectangle15
area of rectangle= 180.0

In [30]:
#problem statement 4: perimeter of rectangle
length=float(input("enter the length of rectangle"))
width=float(input("enter the width of rectangle"))
perimeter=2*(length+width)
print("perimeter of rectangle=", perimeter)\

enter the length of rectangle10
enter the width of rectangle6
perimeter of rectangle= 32.0

In [32]:
#problem statement 5:simple calculator
a=int(input("enter first number:"))
b=int(input("enter second number:"))
print("sum=", a+b)
print("subtraction=",a-b)
print("division=",a/b)
print("multiplication=",a*b)

enter first number:6885
enter second number:42
sum= 6927
subtraction= 6843
division= 163.92857142857142
multiplication= 289170

In [33]:
#python booleans
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [43]:
#print a message based on whether the condition is true or false:
a=200
b=500
b>a

True

In [48]:
#how to calculte the power of a function
2**3,7**2

(8, 49)